html, body, canvas, div, span, ul, li {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    background-image: url('../imgs/body-bg.png');
	background-size:cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
/*#region MAIN-CONTAINER */

#main-container {
    width: 640px;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 4%;
    border-radius: 15px;
    background-image: url('../imgs/main-bg.png');
    text-align: center;
    overflow: hidden;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

#score-board {
    background: lightgray;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-bottom: 50px;
}

#score-board .score-board-element {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 5px;
    text-transform: uppercase;
    z-index:1000;
}

#score-board .score-board-value {
    color: darkred;
}

#score-board .score-board-value:before {
    content: ': ';
}

#infobox {
    max-width: 90%;
    margin: 20px 0;
    font-size: 0.8rem;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
/*#endregion */

/* Start Board Styles */
#board {
    margin: auto;
    background: #c9c9c9;
    padding: 0 5%;
    border-radius: 35px;
    border: 2px solid #fff;
    position: relative;
    text-align: center;
    padding: 30px;
    transition: all linear 0.4s;
    display: table;
}

.row{
    display: table-row;
}

.cell{
    background-color: #e3e3e3;
    border: 1px solid #a8a8a8;
    display: table-cell;
    border-collapse: collapse;
    cursor: pointer;
}
.openAnswer.cell[data-is-true=true], 
.cell[data-is-clicked=true] {
    background-color: red;
}

cell[data-is-tru=true] {
    background-color: transparent;
}
/* End Board Styles */