html, body, canvas, div, span, ul, li {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    background-image: url('../imgs/body-bg.png');
	background-size:cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
/*#region MAIN-CONTAINER */

#main-container {
    width: 640px;
    max-width: 90%;
    min-height: 460px;
    margin: 0 auto;
    margin-top: 3%;
    padding-bottom: 1%;
    border-radius: 15px;
    background-image: url('../imgs/main-bg.png');
    box-shadow: inset -1px -1px 6px 1px rgba(102, 103, 99, 0.92);
    text-align: center;
    overflow: hidden;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    display: -ms-flexbox; /* TWEENER - IE 10 */
    -ms-flex-pack: center;
}

#score-board {
    background: lightgray;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    font-size: 1rem;
    font-weight: bold;
}

#score-board .score-board-element {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 5px;
    text-transform: uppercase;
    z-index:1000;
}

    #score-board .score-board-element:last-child::before {
        content: "\00a0\00a0\00a0\00a0\00a0\00a0";
        background-image: url(../imgs/yellow-star-icon.png);
        background-size: 27px 27px;
        background-repeat: no-repeat;
        background-position: 1px -5px;
    }

    .blinkingScore { /**************************************************************************************/
     -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 500ms;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 500ms;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 500ms;
}

    @-moz-keyframes blinker {  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
    }
    
    @-webkit-keyframes blinker {  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
    }
    
    @keyframes blinker {  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
        }

#score-board .score-board-value {
    color: rgba(255, 0, 0, 0.72);
    font-size: 1.3rem;
    font-weight: bold;
}

#score-board .score-board-value:before {
    content: ': ';
    color: black;
    font-weight: normal;
}

#infobox {
    margin: 7% 15% 5% 15%;
    background: rgba(255, 0, 0, 0.72);
    color: rgb(255, 255, 255);
    line-height: 3rem;
    font-size: 0.8rem;
    -ms-word-wrap: break-word;
    word-wrap: break-word;

}
/*#endregion */

/* Start Board Styles */
#boardCont {
    position: relative;
    margin: 2rem 0;
}

#board,
.gameOver {
    margin: 0 auto;
    background: #c9c9c9;
    border-radius: 30px;
    border: 2px solid #ffeebc;
    position: relative;
    text-align: center;
    padding: 30px;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    transition: all linear 0.4s;
    display: table;
    display: -ms-flexbox;
    -ms-flex-pack: center;
}

.row{
    display: table-row;
}

.cell{
    width: 48px;
    height: 48px;
    margin: auto;
    background-color: #e3e3e3;
    border: 1px solid #a8a8a8;
    display: table-cell;
    border-collapse: collapse;    
}

.openAnswer.cell[data-is-true=true],
.cell[data-is-clicked=true] {
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 0.2rem;
    border-color: #ad1212;
    border-top-color: transparent;
    border-left-color: transparent;
    box-shadow: inset -1px -1px 6px 1px #b01919;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    transition: all linear 0.2s;
}

.cell[data-is-tru=true] {
    background-color: transparent;
}

.setPointer{
    cursor: pointer;
}

.incorrectAnswer {
    background-image: url(../imgs/incorrectAnswer.png);
    background-repeat: no-repeat;
}

#popup {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    display: none;
    margin-left: 50%;
    border-radius: 35px;
    cursor: pointer;
    vertical-align: middle;
}

#popup.opened {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide{
    display: none !important;
}

#infoDialogTxt {
    /*position: relative;
    top: 15%;
    display: block;
    width: 210px;
    height: 130px;
    color: rgb(202, 0, 0);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.72);
    background: url(../imgs/win-medal.png) no-repeat 87% 2%;
    background-size: 21% 28%;*/
}

.gameOver{
    width:70%;
    height: 70%;
    top: 7rem;
}

.green {
    color: forestgreen;
    font-weight: bold;
}

.red {
    color: darkred;
    font-weight: bold;
}
/* End Board Styles */